/* General Styling */
html {
  background: url("https://images.pexels.com/photos/755726/pexels-photo-755726.jpeg?w=940&h=650&auto=compress&cs=tinysrgb")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: "Orbitron", sans-serif;
  color: #a9a9a9;
}

h1 {
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

/* Grid */
table,
tr,
td {
  border: 2px solid rgb(48, 78, 78);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #fff;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

/* Form */
input[type="number"] {
  width: 6em;
  background-color: rgb(48, 78, 78);
  text-align: center;
  border-radius: 6px;
  color: #fff;
  padding: 0.5em;
}

input[type="submit"] {
  background-color: rgb(143, 140, 140);
  padding: 0.5em;
}

input[type="reset"] {
  background-color: #5380ac;
  padding: 0.5em;
}

#bottom_padding {
  border: 1px;
  height: 0;
  box-shadow: 0 0 10px 1px #000;
  width: 6cm;
}

#reset_color {
  background-color: #5fa777;
}

#colorPicker {
  border-radius: 8px;
  padding: 0.5em;
}

/* h1, h2 animation (inspiration:https://css-tricks.com/restart-css-animation/) */

@keyframes my-animation {
  from {
    opacity: 0;
    left: -500px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.run-animation {
  position: relative;
  animation: my-animation 2s ease;
}

#logo {
  text-align: center;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

/* button and input styling (inspiration:https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover) */

.button1 {
  background-color: #fff;
  color: black;
  border: 2px solid #4caf50;
  border-radius: 6px;
  padding: 0.5em;
}

.button1:hover {
  background-color: #4caf50;
  color: #fffaf0;
}

.input1 {
  background-color: #fff;
  color: #000;
  border: 2px solid #4caf50;
  border-radius: 6px;
}

.input1:hover {
  background-color: #4caf50;
  color: #fffaf0;
}

.input2 {
  background-color: #fff;
  color: black;
  border: 2px solid #4caf50;
  border-radius: 6px;
}

.input2:hover {
  background-color: #4caf50;
  color: #fffaf0;
}

#bottom_motto {
  border: 1px solid #bb3385;
  border-radius: 6px;
  display: inline;
  padding: 1px 2px 1px 2px;
}

.button4 {
  background-color: #9c7c38;
  color: black;
  border: 2px solid #4caf50;
  border-radius: 6px;
  padding: 0.5em;
}

.button4:hover {
  background-color: #9c7c38;
  color: #fffaf0;
}

#grid_limit {
  color: black;
}

td:hover {
  cursor: cell;
}

#instructions {
  color: #1e90ff;
}

li:before {
  content: "\2605";
  color: #c3cde6;
}

li {
  color: #008b8b;
}

/* Todo
@ Add media queries for smaller devices
*/
